@import "tailwindcss";

:root {
  --background: #F1F1F1;
  --foreground: #003366;
  --accent1: #ebbf0f;
  --accent-activated:#FFCC00;
  --accent2: #333333;
  --border-radius: 16px;
  --small-height: 14%; 
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

/* Each text block */
.rotating-text {
  position: absolute;
  color: var(--accent1);
  opacity: 0;
  animation: rotateText 9s infinite ease-in-out;
}

/* Delayed animations for each text */
.rotating-text:nth-child(1) {
  animation-delay: 0s;
}

.rotating-text:nth-child(2) {
  animation-delay: 3s;
}

.rotating-text:nth-child(3) {
  animation-delay: 6s;
}

/* Animation Keyframes */
@keyframes rotateText {
  0% { opacity: 0; }
  10% { opacity: 1;}
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; } 
}

body {
  background: white;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
